/* ---------------- Fonts  ----------------- */
$base        = 18

$h0          = 72
$h1          = 48
$h2          = 42
$h3          = 32
$h4          = 28
$h5          = 22
$h6          = 20
$p           = 18
$sm-txt      = 16
$xs-txt      = 14
$xxs-txt     = 12

$h0-em       = ($h0 / $base)em
$h1-em       = ($h1 / $base)em
$h2-em       = ($h2 / $base)em
$h3-em       = ($h3 / $base)em
$h4-em       = ($h4 / $base)em
$h5-em       = ($h5 / $base)em
$h6-em       = ($h6 / $base)em
$p-em        = ($p / $base)em
$sm-em       = ($sm-txt / $base)em
$xs-em       = ($xs-txt / $base)em
$xxs-em      = ($xxs-txt / $base)em

/* ---------------- Widths ---------------- */
$xs     = 767px
$min-xs = 768px
$sm     = 991px

/* ---------------- COLOURS ---------------- */

/* white */
$white            = #FFFFFF
$off-white        = #f1f2f2

$grey             = #f1f2f2

$dark-blue        = #3d6870
$mid-blue         = #8aa4a9
$blue             = #8da6ab


/* ---------------- ELEMENTS ---------------- */
/* content background colors */
$bg-regular       = $white
$bg-dark          = $blue
$bg-mid           = $grey

/* btn background colors */
$btn-neutral      = $blue
$btn-hover        = lighten($blue, 5%)
$btn-active       = darken($blue, 5%)

/* links */
$link-regular     = $blue
$link-hover       = darken($white, 5%)

/* copy */
$body-copy        = $dark-blue
$header-copy      = $dark-blue

// /* Form */
// $field-neutral    = $light-brown
// $field-active     = $mid-dark-brown
// $disabled         = $mid-dark-grey
// $error-msg        = $red
// $strike           = $orange
